<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="css/coding_page_styles.css" type="text/css" rel="stylesheet">

    <!-- Favicon Icon -->
    <link rel="icon" href="images/PyBlocks Logo.png">

    <!-- include for socket.io -->
    <script src="/socket.io/socket.io.js" type="text/javascript"></script>

    <!-- jquery & jquey.ui includes -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
</head>

<body>
    <div class="appContainer">
        <div class="inline-block-child" style="width: 30%; height: 500px;">
            <h2>Output</h2>
            <!-- area for executed output to be displayed -->
            <div class="outputContainer">
                <pre id="output" style="margin-left: 5px; font-family: Consolas, 'Lucida Console'; font-size: 14px; white-space: pre-wrap;"></pre>
            </div>
        </div>

        <div class="inline-block-child" style="width: 60%; height: 500px;">
            <!-- List for all blocks -->
            <h2 class="inline-block-child">List of Blocks</h2>
            <h2 class="inline-block-child">Programming Area</h2>
            <div class="blockly-editor">
                <div id="blocklyDiv" style="height: 100%; width: 100%;"></div>
                <xml id="toolbox" style="display: none">
                    <block type="controls_if"></block>

                    <block type="logic_compare"></block>
                    <block type="logic_operation"></block>
                    <block type="logic_negate"></block>
                    <block type="logic_boolean"></block>

                    <block type="math_number"></block>
                    <block type="math_arithmetic"></block>

                    <block type="text"></block>
                    <block type="text_print"></block>

                    <block type="variables_get"></block>
                    <block type="variables_set"></block>
                </xml>
            </div>

        </div>

        <div class="break" style="height: 100px;"></div>

        <div class="inline-block-child">
            <h1>Run Program</h1>
            <label for="runfilename"></label>
            <input type="text" id="runfilename" value="ls.py" />
            <textarea id="rundata" hidden></textarea>
            <button id="run">Run</button>
        </div>

        <!-- execute code in block button -->
        <div class="inline-block-child">
            <h1>Execute Code</h1>
            <label for="exefileName"></label>
            <input type="text" id="exefileName" value="output.py" hidden />
            <!--<textarea id="printBlockData" hidden></textarea>--->
            <button id="exe">Execute</button>
        </div>

        <div class="break"></div>
    </div>

    <!-- Blockly Include -->
    <!-- reroute the python_compressed into the node_modules folder? -->
    <script src="https://unpkg.com/blockly/blockly.min.js"></script>
    <!--<script src="/scripts/blockly_compressed.js"></script>-->
    <script src="/scripts/python_compressed.js"></script>

    <!-- PyBlock Scripts -->
    <script src="/scripts/coding_page.js"></script>
</body>
</html>
