<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PyBlocks Home Page</title>

    <link href="/css/home_page_styles.css" type="text/css" rel="stylesheet">

    <!-- Favicon Icon -->
    <link rel="icon" href="/images/PyBlocks Logo.png">

    <!-- include for socket.io -->
    <script src="/socket.io/socket.io.js" type="text/javascript"></script>

    <!-- jquery & jquery.ui includes -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

    <link href="/css/home_page_styles.css" type="text/css" rel="stylesheet">

    <script>
        // When the user clicks on the button,
        // toggle between hiding and showing the dropdown content.
        function triggerDropdown1() {
            document.getElementById("myDropdown1").classList.toggle("show");
        }
        function triggerDropdown2() {
            document.getElementById("myDropdown2").classList.toggle("show");
        }
        function triggerDropdown3() {
            document.getElementById("myDropdown3").classList.toggle("show");
        }
        function triggerDropdown4() {
            document.getElementById("myDropdown4").classList.toggle("show");
        }
        function triggerDropdown5() {
            document.getElementById("myDropdown5").classList.toggle("show");
        }

        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
</head>

<body>
    <!--
    Palette That Will be used:
    #fafafa // whitish
    #d9dad7 // light grey
    #acdcee // light blue
    #24527a // dark blue
     -->
    <!-- Placeholder images from https://dummyimage.com/ -->

    <div class="site-container">
        <header class="main-header">
            <nav>
                <a href="home_page.html">PyBlocks</a> |
                <a href="home_page.html">Login</a>
            </nav>
        </header>

        <aside class="sidebar-one"></aside>

        <main class="main-content">
            <article id="animationContainer">
                Interesting Animation
            </article>

            <article id="tryItOutContainer">
                <h2>Click Here to try out PyBlocks!</h2>
                <a href="interactive_tutorial">GoTo PyBlocks</a>
            </article>

            <article id="tutorialMenu">
                <h2>Tutorials</h2>
                <div class="dropdown">
                    <button onclick="triggerDropdown1()" class="dropbtn">Basics</button>
                    <div id="myDropdown1" class="dropdown-content">
                        <a href="basics_tutorial">Lesson 1: Basics Start</a>
                        <a href="#">Lesson 2: Name</a>
                        <a href="#">Lesson 3: Name</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button onclick="triggerDropdown2()" class="dropbtn">Variables</button>
                    <div id="myDropdown2" class="dropdown-content">
                        <a href="tut_variables_1">Lesson 1: Intro to Variables</a>
                        <a href="tut_variables_2">Lesson 2: Comparisons</a>
                        <a href="tut_variables_3">Lesson 3: Lists</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button onclick="triggerDropdown3()" class="dropbtn">Branching</button>
                    <div id="myDropdown3" class="dropdown-content">
                        <a href="tut_branching_page1">Lesson 1: General Knowledge</a>
                        <a href="tut_branching_page2">Lesson 2: Single Branch</a>
                        <a href="tut_branching_page3">Lesson 3: Two Branches</a>
                        <a href="tut_branching_page4">Lesson 4: Three Plus Branches</a>
                        <a href="tut_branching_page5">Lesson 5: Multiple Actions in a Branch</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button onclick="triggerDropdown4()" class="dropbtn">Looping</button>
                    <div id="myDropdown4" class="dropdown-content">
                        <a href="looping_tutorial_page_1">Lesson 1: General Knowledge</a>
                        <a href="looping_tutorial_page_2">Lesson 2: For Loops</a>
                        <a href="looping_tutorial_page_3">Lesson 3: While Loops</a>
                        <a href="looping_tutorial_page_4">Lesson 4: Looping Through Lists</a>
                        <a href="looping_tutorial_page_5">Lesson 5: Nested Loops</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button onclick="triggerDropdown5()" class="dropbtn">Functions</button>
                    <div id="myDropdown5" class="dropdown-content">
                        <a href="Functions">Lesson 1: Functions Start</a>
                        <a href="#">Lesson 2: Name</a>
                        <a href="#">Lesson 3: Name</a>
                    </div>
                </div>
            </article>
        </main>

        <aside class="sidebar-two"></aside>

        <footer class="main-footer">
            <p>Footer Information will be added here</p>
            <p>Line 2</p>
            <p>Line 3</p>
        </footer>
    </div>
</body>
</html>