<!-- https://stackoverflow.com/questions/39348112/drop-a-sortable-into-a-sortable-nested-divs -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css" />

    <style>
        #column1, #column2 {
            width: 250px;
            margin-right: 10px;
            border: 1px solid red;
            float: left;
            min-height: 100px;
        }

        .droppable div {
            border: 1px solid blue;
            margin: 5px;
            padding: 5px;
        }
    </style>
</head>

<body>
    <div id="column1">
        <p>Items</p>
        <div class="dragItem">Drag me ONE</div>
        <div class="dragItem">Drag me TWO</div>
        <div class="dragItem">Drag me THREE</div>
    </div>
    <div id="column2" class="droppable">

    </div>

    <script type="text/javascript">
        $('.dragItem').draggable({
            helper: 'clone',
            connectToSortable: "#column2,#column2 div"
        });

        $('.dragItem').sortable({
            containment: "parent"
        });

        $('#column2').sortable({
            placeholder: "highlight"
        });

        $('#column2').droppable({
            accept: '.dragItem',
            drop: function (event, ui) {
                var draggable = ui.draggable;
                var droppable = $(this);
                var drag = $('#column2').has(ui.draggable).length ? draggable : draggable.clone().draggable({});
                drag.appendTo(column2);
                drag.sortable({
                    placeholder: "highlight"
                });
                drag.droppable({
                    accept: ".dragItem",
                    drop: function (event, ui) {
                        var draggable = ui.draggable;
                        var droppable = $(this);
                        var drag = $('#column2').has(ui.draggable).length ? draggable : draggable.clone().draggable({});
                    }
                })
                drag.css({
                    width: '',
                    height: ''
                })
            }
        });

    </script>
</body>
</html>
