html {
    font-family: "Roboto Light", sans-serif;
}

body {
    margin: 0;
    padding: 0; 
}

.site-container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        'header header header'
        'sidebar-one main sidebar-two'
        'footer footer footer';
    gap: 0px;
    min-height: 100vh;
    align-content: stretch;
}

.main-header {
    grid-area: header;
    background-color: #acdcee;
    width: 100%;
    height: fit-content;
}
.main-header nav {
    padding: 1em;
}
    .main-header nav a {
        color: #24527a;
    }


.main-content {
    grid-area: main;
    height: 100%;
    width: 100%;
    background-image: url("/images/triangle-mosaic.png");
    background-color: #fafafa;
}

#animationContainer {
    background-color: red;
    height: 500px;
    text-align: center;
}

#tryItOutContainer {
    display: block;
    width: 40%;
    margin: auto;
}
    #tryItOutContainer h2 {
        text-align: center;
    }
    #tryItOutContainer a {
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding: 2em;
        width: 7em;
        text-align: center;
        text-decoration: none;
        color: #000;
        border: 1px solid #000;
        border-radius: 12px;
        background-color: #ddd;
    }

#tutorialMenu {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    align-content: center;
    margin-top: 3em;
    margin-bottom: 3em;
}
    #tutorialMenu h2 {
        
        text-align: center;
    }

.sidebar-one {
    grid-area: sidebar-one;
    height: 100%;
    background-color: #d9dad7;
}
.sidebar-two {
    grid-area: sidebar-two;
    height: 100%;
    background-color: #d9dad7;
}

.main-footer {
    grid-area: footer;
    background-color: #acdcee;
    width: 100%;
    height: fit-content;
}
.main-footer p {
    text-align: center;
    padding: 0px;
    margin: 0px;
}

/*


.main {
    flex-grow: 1; /* Set the middle element to grow and stretch *
    flex-wrap: wrap;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    background-image: url("/images/triangle-mosaic.png");
    background-color: #fafafa;
}
*/

/*Dropdown Menu CSS*/
/* Dropdown Button */
.dropbtn {
    /*background-color: #3498DB;*/
    background-color: #24527a;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: 1px solid #fafafa; /* width, style, color */
    border-left-width: 0px;
    border-right-width: 0px;
    cursor: pointer;
    width: 100%;
}

    /* Dropdown button on hover & focus */
    .dropbtn:hover, .dropbtn:focus {
        background-color: #2980B9;
    }

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    /* display: inline-block; */
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #ddd
        }

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}
