/* CSS for basic tags in html */
html {
    height: 100%;
}

body {
    height: 100%;
}

/* List CSS */
#draggable {
    /*list-style-type: none;*/
}

#sortable {
    /*list-style-type: none;*/
    height: 1000px;
}

.appContainer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    height: 1000px;
}

.appContainer li {
    margin: 5px;
    padding: 5px;
    width: 150px;
}

/* end list CSS */

input[type="text"]:disabled {
    background: #ffffff;
}