<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- <link href="css/coding_page_styles.css" type="text/css" rel="stylesheet"> -->
    <!-- Favicon Icon -->
    <link rel="icon" href="images/PyBlocks Logo.png">

    <!-- include for socket.io -->
    <script src="/socket.io/socket.io.js" type="text/javascript"></script>

    <!-- jquery & jquey.ui includes -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

    <!-- Blockly Include -->
    <!--<script src="https://unpkg.com/blockly/blockly.min.js"></script>-->
    <script src="/scripts/blockly/blockly_compressed.js"></script>
    <script src="/scripts/blockly/blocks_compressed.js"></script>
    <script src="/scripts/blockly/python_compressed.js"></script>
    <script src="/scripts/blockly/msg/js/en.js"></script>

    <!-- Custom Blocks Scripts -->
    <script src="/scripts/custom_blocks.js"></script>

    <link href="/css/interactive_page.css" type="text/css" rel="stylesheet">

    <!-- CodeMirror 6 Libraries -->
    <script src="/lib/codemirror.js"></script>
    <link rel="stylesheet" href="/lib/codemirror.css">
    <link rel="stylesheet" href="/theme/midnight.css">
    <script src="/mode/python/python.js"></script>

    <style>
        .CodeMirror {
            display: inline-block;
            height: 100%;
            width: 52em;
        }
    </style>

    <script>
        // Stop the default function of the tab button.
        // Don't want tab navigation to keep changing the user's focus.
        $(document).keydown(function (event) {
            if (event.keyCode === 9) {  //tab pressed
                event.preventDefault();
            }
        });
    </script>
</head>

<body inert>
    <div class="app-container">
        <!-- Grid World Container -->
        <div class="grid-world-container">
            <h2 style="margin-bottom: 0px;">Grid World</h2>
            <canvas id="gridWorld" style="width: 512px; height: 512px;"></canvas>
            <h2>Inventory</h2>
            <div id="inventory"></div>
            <div class="cmdOutContainer">
                <pre>Commands Being Run: </pre>
                <pre id="cmdOut"></pre>
            </div>
        </div>
        
        <!-- Blockly Editor Area-->
        <div class="blockly-editor-container">
            <!-- List for all blocks -->
            <h2>Coding Section:</h2>
            <div class="blockly-editor" id="blocklyEditor">
                <div id="blocklyDiv" style="height: 100%; width: 100%;"></div>
                <xml xmlns="https://developers.google.com/blockly/xml" id="toolbox" style="display: none">
                    <category name="Text" colour="120">
                        <block type="text"></block>
                        <block type="text_print">
                            <value name="TEXT">
                                <shadow type="text">
                                    <field name="TEXT">print what goes here...</field>
                                </shadow>
                            </value>
                        </block>
                    </category>
                    <category name="Misc" colour="240">
                        <block type="controls_if"></block>

                        <block type="logic_compare"></block>
                        <block type="logic_operation"></block>
                        <block type="logic_negate"></block>
                        <block type="logic_boolean"></block>

                        <block type="math_number"></block>
                        <block type="math_arithmetic"></block>

                        <block type="text"></block>
                        <block type="text_print"></block>

                        <block type="variables_get"></block>
                        <block type="variables_set"></block>
                    </category>
                    <category name="Looping" colour="180">
                        <block type="controls_repeat_ext">
                            <value name="TIMES">
                                <shadow type="math_number">
                                    <field name="NUM">10</field>
                                </shadow>
                            </value>
                        </block>
                        <block type="controls_whileUntil"></block>
                        <block type="controls_for">
                            <value name="FROM">
                                <shadow type="math_number">
                                    <field name="NUM">1</field>
                                </shadow>
                            </value>
                            <value name="TO">
                                <shadow type="math_number">
                                    <field name="NUM">10</field>
                                </shadow>
                            </value>
                            <value name="BY">
                                <shadow type="math_number">
                                    <field name="NUM">1</field>
                                </shadow>
                            </value>
                        </block>
                        <block type="controls_forEach"></block>
                        <block type="controls_flow_statements"></block>
                    </category>
                    <category name="Lists" colour="200">
                        <block type="lists_create_with">
                            <mutation items="0"></mutation>
                        </block>
                        <block type="lists_create_with"></block>
                        <block type="lists_repeat">
                            <value name="NUM">
                                <shadow type="math_number">
                                    <field name="NUM">5</field>
                                </shadow>
                            </value>
                        </block>
                        <block type="lists_length"></block>
                        <block type="lists_isEmpty"></block>
                        <block type="lists_indexOf">
                            <value name="VALUE">
                                <block type="variables_get">
                                    <field name="VAR">listVariable</field>
                                </block>
                            </value>
                        </block>
                        <block type="lists_getIndex">
                            <value name="VALUE">
                                <block type="variables_get">
                                    <field name="VAR">listVariable</field>
                                </block>
                            </value>
                        </block>
                        <block type="lists_setIndex">
                            <value name="LIST">
                                <block type="variables_get">
                                    <field name="VAR">listVariable</field>
                                </block>
                            </value>
                        </block>
                        <block type="lists_getSublist">
                            <value name="LIST">
                                <block type="variables_get">
                                    <field name="VAR">listVariable</field>
                                </block>
                            </value>
                        </block>
                        <block type="lists_split">
                            <value name="DELIM">
                                <shadow type="text">
                                    <field name="TEXT">,</field>
                                </shadow>
                            </value>
                        </block>
                        <block type="lists_sort"></block>
                    </category>
                    <category name="Comments" colour="300">
                        <block type="single_line_comment"></block>
                        <block type="multi_line_comment"></block>
                    </category>
                    <category name="Movement" colour="260">
                        <block type="move_up"></block>
                        <block type="move_down"></block>
                        <block type="move_left"></block>
                        <block type="move_right"></block>
                        <block type="rotate_right"></block>
                        <block type="rotate_left"></block>
                    </category>
                    <category name="Flower Blocks" colour="230">
                        <block type="pick_one_flower"></block>
                        <block type="check_flower_color"></block>
                        <block type="check_facing_flower"></block>
                    </category>
                    <category name="Code in Text Blocks" colour="245">
                        <block type="python_text_block"></block>
                    </category>
                    <category name="Grid World Library" colour="80">
                        <block type="cast_magic"></block>
                        <block type="pick_up_treasure"></block>
                        <block type="check_facing_treasure"></block>
                        <block type="can_see_snake"></block>
                    </category>
                </xml>
            </div>

            <div id="textEditor">
                <div id="textToolbox">
                    <ul>
                        <li>
                            Movement
                            <ul>
                                <li>move_up()</li>
                                <li>move_down()</li>
                                <li>move_left()</li>
                                <li>move_right()</li>
                                <li>rotate_right()</li>
                                <li>rotate_left()</li>
                            </ul>
                        </li>
                        <li>
                            Flowers
                            <ul>
                                <li>pick_one_flower()</li>
                                <li>check_flower_color()</li>
                                <li>check_facing_flower()</li>
                            </ul>
                        </li>
                        <li>
                            Grid World
                            <ul>
                                <li>pick_up_treasure()</li>
                                <li>check_facing_treasure()</li>
                                <li>can_see_snake()</li>
                                <li>cast_magic()</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <textarea id="userTextInput"></textarea>
            </div>
        </div>

        <!-- area for executed output to be displayed -->
        <div class="output-container">
            <h2>Program Output:</h2>
            <pre id="output"></pre>
        </div>

        <!-- execute code in block button -->
        <div class="exe-container" style="display: flex;">
            <div style="margin-right: 5em;">
                <h2>Program Controls</h2>
                <input type="text" id="exefileName" value="output.py" hidden />
                <button id="exe">Execute Code</button>
                <button id="cancel">Cancel Animation</button>
                <button id="reset">Reset Grid World</button>
            </div>

            <div style="margin-right: 5em;">
                <h2>Map Selection</h2>
                <select id="map_id" size="1">
                    <option value="1">Map 1</option>
                    <option value="2">Map 2</option>
                    <option value="3">Map 3</option>
                    <option value="4">Map 4</option>
                    <option value="5">Map 5</option>
                </select>
                <button id="map-btn">Load Map</button>
            </div>

            <!-- Save and Load Workspace-->
            <div class="save-n-load" style="display: inline-block;">
                <h2>Save and Load Workspace</h2>

                <button id="saveCode">Save Code</button>
                <button id="loadCode">Load Code or Delete a Saved Code</button>
                <br />
                <br />
                <h2>Switch Coding Style</h2>
                <button id="styleSwitchBtn">Switch</button>
            </div>
        </div>


    </div>

    <!-- The Modal for saving. -->
    <div id="fileSaveDisplay" class="modal">
        <span onclick="document.getElementById('fileSave').style.display='none'"
              class="close" title="Close Modal"></span>

        <!-- Modal Content -->
        <div class="modal-content animate">
            <p>Currently Saved Files:</p>
            <ul id="saveFileList"></ul>
            <div>
                <div class="pyFile" style="width: 25px; height: 25px; display: inline-block"></div>
                <p style="display: inline-block;">= Text Code File</p>
                <div class="xmlFile" style="width: 25px; height: 25px; display: inline-block"></div>
                <p style="display: inline-block;">= Block Code File</p>
            </div>
            <p><strong>WARNING!</strong> saving a file with the same name will rewrite the file.</p>
            <button id="saveWorkspace" onclick="document.getElementById('fileSaveDisplay').style.display = 'none'">Save Program As: </button>
            <input id="saveWorkspaceName" />
        </div>

    </div>

    <!-- The Modal for loading -->
    <div id="fileDisplay" class="modal">
        <span onclick="document.getElementById('fileDisplay').style.display='none'"
              class="close" title="Close Modal"></span>

        <!-- Modal Content -->
        <div class="modal-content animate">
            <p>Load or Delete a File.</p>
            <ul id="loadFileList"></ul>
            <div>
                <div class="pyFile" style="width: 25px; height: 25px; display: inline-block"></div>
                <p style="display: inline-block;">= Text Code File</p>
                <div class="xmlFile" style="width: 25px; height: 25px; display: inline-block"></div>
                <p style="display: inline-block;">= Block Code File</p>
            </div>
            <button id="loadWorkspace" onclick="document.getElementById('fileDisplay').style.display = 'none'">Load Program: </button>
            <input id="loadWorkspaceName" />
            <button id="deleteFileButton" onclick="document.getElementById('fileDisplay').style.display = 'none'">Delete Program</button>
        </div>

    </div>

    <script src="/scripts/grid_world.js"></script>
    <!--script src="/scripts/interactive_demo.js"></script-->

    <script>
        // Get the modal
        let modal1 = document.getElementById('fileDisplay');
        let modal2 = document.getElementById('fileSaveDisplay');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal1) {
                modal1.style.display = "none";
            }
            if (event.target == modal2) {
                modal2.style.display = "none";
            }
        }
    </script>
</body>
</html>
