<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="css/tutorials.css" type="text/css" rel="stylesheet">

    <!-- include for socket.io -->
    <script src="/socket.io/socket.io.js" type="text/javascript"></script>
    <!-- jquery & jquey.ui includes -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

    <!-- Favicon Icon -->
    <link rel="icon" href="images/PyBlocks Logo.png">

	<!-- Open Tab Script -->
	<script>
		function openTab(evt, tabName) {
		  var i, tabcontent, tablinks;
		  tabcontent = document.getElementsByClassName("tabcontent");
		  for (i = 0; i < tabcontent.length; i++) {
			tabcontent[i].style.display = "none";
		  }
		  tablinks = document.getElementsByClassName("tablinks");
		  for (i = 0; i < tablinks.length; i++) {
			tablinks[i].className = tablinks[i].className.replace(" active", "");
		  }
		  document.getElementById(tabName).style.display = "block";
		  evt.currentTarget.className += " active";
		}
	</script>
</head>

<body style="background-color:paleGoldenRod">
	<div class="tab">
		<button class="tablinks" onclick="openTab(event, 'GenKnow')" id="defaultOpen">General Knowledge</button>
		<button class="tablinks" onclick="openTab(event, 'SinBran')">1 Branch</button>
		<button class="tablinks" onclick="openTab(event, 'TwoBran')">2 Branches</button>
		<button class="tablinks" onclick="openTab(event, 'ThrBran')">3+ Branches</button>
		<button class="tablinks" onclick="openTab(event, 'MultAct')">Multiple Actions</button>
		<button class="tablinks" onclick="document.location='/'" id="back_home_button">Back Home</button>
	</div>
	
	<h1 style="font-size:40px; margin:0 auto;">
	Branching</h1>
	
	<!--General Knowledge-->
	<div id="GenKnow" class="tabcontent">
	
		<h2 style="font-size:35px">
		General Knowledge</h2>
		<img src="/images/tutorials/IMG_BranchingUsage.png" alt="General Knowledge Example" class="tutTextBorder">

		<h3 style="font-size:26px">
		Why should you need to know this?</h3>

		<p style="background-color:powderblue;font-size:19px;width:500px"class="tutTextBorder">
		Normally, a computer will do everything you tell it to, one by one.<br><br>
		Let's say you don't want this. For an example, if you're looking for flowers to give someone.<br><br>
		They might be allergic to a certain kind of flower, so you'd obviously want to avoid picking those.<br><br>
		That's what branching is for. It lets you decide what actions to take depending on what you're doing.
		</p>

		<h3 style="font-size:26px">
		What actually is this?</h3>

		<p style="background-color:powderblue;font-size:19px;width:500px"class="tutTextBorder">
		Branching is the most basic way to begin more complicated programming. 
		For this tutorial, we'll focus on if-else blocks. There are three options for you.<br><br>
		"If" is followed by a equation, like the variable 'X' being greater than some number.<br><br>
		"Else" is not followed by a equation, because it holds everything that happens if the "if" part is false.<br><br>
		"Else if" is a special option, in case you want to set up multiple checks using the same block.<br><br>
		</p>

		<h3 style="font-size:26px">
		How are you supposed to set this up and use it?</h3>

		<p style="background-color:powderblue;font-size:19px;width:500px"class="tutTextBorder">
		The block system has a if-else block set up and ready to go.<br><br>
		Just drag is onto the working field, and start making your branches.<br><br>
		The little cog symbol in the top left of the block opens a small menu, which lets you add more if you want to. Not sure why you would? Keep on reading!<br>
		</p>
		<!-- User Interaction at the end of the tutorial BranchingGeneralKnowledge -->
		<div class="appContainer">
			<div class="inline-block-child" style="width: 600px; height: 300px;">
				<h2 class="inline-block-child" style="margin-bottom: 0px;">Now you try.</h2>
				<p> Try and print the string "Good Morning, World!" </p>
				<div class="blockly-editor">
					<div id="blocklyDivBranchGenKnow" style="height: 100%; width: 100%;"></div>
				</div>
			</div>

			<div class="inline-block-child" style="width: 600px; height: 300px;">
				<h2 style="margin-bottom: 50px;">Output</h2>
				<!-- area for executed output to be displayed -->
				<div class="outputContainer" style="background-color: #FFFFFF">
					<pre id="output" style="margin-left: 5px; font-family: Consolas, 'Lucida Console'; font-size: 14px; white-space: pre-wrap;"></pre>
				</div>
			</div>

			<div class="break" style="height: 100px;"></div>

			<!-- execute code in block button -->
			<div class="inline-block-child">
				<h1>Execute Demo</h1>
				<label for="exe"></label>
				<input type="text" id="exefileName" value="output.py" hidden />
				<!--<textarea id="printBlockData" hidden></textarea>--->
				<button id="exe">Execute</button>
			</div>

			<div class="break" style="height: 100px;"></div>

			<div class="announcementContainer">
				<h2 id="announcement"></h2>
			</div>

		</div>
		<button class="tabnextLink"onclick="openTab(event, 'SinBran')">Next Section</button>
	</div>
		
	<!--Single Branch-->
	<div id="SinBran" class="tabcontent">
		<h2 style="font-size:35px">
		Single Branch</h2>
		<img src="/images/tutorials/IMG_SingBranEX.png" alt="Single Branch Example" class="tutTextBorder">
		
		<h3 style="font-size:26px">
		Why should you need to know this?</h3>
		<p style="background-color:powderblue;font-size:19px;width:500px"class="tutTextBorder">
		In case you every want to do something small, of course!<br><br>
		As you're walking around looking for flowers, you just need to pick it up.<br><br>
		This is how you would do that.<br>
		</p>
		
		<h3 style="font-size:26px">
		What actually is this?</h3>
		<p style="background-color:powderblue;font-size:19px;width:500px"class="tutTextBorder">
		The absolute most basic form of branching. A very simple "if" check. <br><br>
		No "elses", no "else-if's", nothing to complicate it.<br><br>
		Just a simple "if this thing is true, act like this, and then move on."<br>
		</p>
		
		<h3 style="font-size:26px">
		How are you supposed to set this up and use it?</h3>
		<p style="background-color:powderblue;font-size:19px;width:500px"class="tutTextBorder">
		Just use the block you already know, and add no other bits to it.<br><br>
		It really is just that simple.<br>
		</p>
		<!-- User Interaction at the end of the tutorial -->
		<div class="appContainer">
			<div class="inline-block-child" style="width: 600px; height: 300px;">
				<h2 class="inline-block-child" style="margin-bottom: 0px;">Now you try.</h2>
				<p> Try and print the string "Good Morning, World!" </p>
				<div class="blockly-editor">
					<div id="blocklyDivBranchOne" style="height: 100%; width: 100%;"></div>
				</div>
			</div>

			<div class="inline-block-child" style="width: 600px; height: 300px;">
				<h2 style="margin-bottom: 50px;">Output</h2>
				<!-- area for executed output to be displayed -->
				<div class="outputContainer" style="background-color: #FFFFFF">
					<pre id="output" style="margin-left: 5px; font-family: Consolas, 'Lucida Console'; font-size: 14px; white-space: pre-wrap;"></pre>
				</div>
			</div>

			<div class="break" style="height: 100px;"></div>

			<!-- execute code in block button -->
			<div class="inline-block-child">
				<h1>Execute Demo</h1>
				<label for="exe"></label>
				<input type="text" id="exefileName" value="output.py" hidden />
				<!--<textarea id="printBlockData" hidden></textarea>--->
				<button id="exe">Execute</button>
			</div>

			<div class="break" style="height: 100px;"></div>

			<div class="announcementContainer">
				<h2 id="announcement"></h2>
			</div>

		</div>
		<button class="tabnextLink"onclick="openTab(event, 'TwoBran')">Next Section</button>
	</div>
		
	<!--Two Branches-->
	<div id="TwoBran" class="tabcontent">
		<h2 style="font-size:35px">
		Two Branches</h2>
		<img src="/images/tutorials/IMG_TwoBranEX.png" alt="Dual Branch Example" class="tutTextBorder">
		
		<h3 style="font-size:26px">
		Why should you need to know this?</h3>
		<p style="background-color:powderblue;font-size:19px;width:500px"class="tutTextBorder">
		This lets you begin moving into more complicated stuff.<br><br>
		If you're walking around and like the look of some flowers, you might want to take some home.<br><br>
		Well, the white flowers are a little boring looking, while the red flowers are great.<br><br>
		So you'd use two branches to say: "When the flower is white, ignore it. When the flower is red, pick it up!"
		</p>
		
		<h3 style="font-size:26px">
		What actually is this?</h3>
		<p style="background-color:powderblue;font-size:19px;width:500px"class="tutTextBorder">
		This can actually take two different forms, and really depends on what you want to do.<br><br>
		The first is still very basic, the "if-else".<br><br>
		All this does is say "If this statement is true, do this thing. If it isn't true, do this other thing." Simple.<br><br>
		The other, though, is where things get a little more complicated.<br><br>
		The "If-elseif", where you set up two different statements.<br><br>
		This says "If this equation is true, do thing one, if it isn't, check equation two. If equation two is true, do thing two. If neither are true, move on."<br><br>
		As you can see, it's a little more complicated, but still very understandable.
		</p>
		
		<h3 style="font-size:26px">
		How are you supposed to set this up and use it?</h3>
		<p style="background-color:powderblue;font-size:19px;width:500px"class="tutTextBorder">
		First, choose which type you want. "If-else", or "If-elseif".<br><br>
		Either way, you'll want to click on the little cogwheel in the top left of the "if" block.<br><br>
		Then, drag either the "else" or "else-if" blocks onto the main "if" block, just like other blocks.<br><br>
		Then, fill in the blocks with whatever things you want to run.
		</p>
		<button class="tabnextLink"onclick="openTab(event, 'ThrBran')">Next Section</button>
	</div>
		
	<!--Three+ branches-->
	<div id="ThrBran" class="tabcontent">
		<h2 style="font-size:35px">
		Three(Or more) Branches</h2>
		<img src="/images/tutorials/IMG_ThreeBranEX.png" alt="Three Branches Example" class="tutTextBorder">
		
		<h3 style="font-size:26px">
		Why should you need to know this?</h3>
		<p style="background-color:powderblue;font-size:19px;width:500px"class="tutTextBorder">
		This lets you set up the most complicated and interesting options.<br><br>
		While you're walking around looking for flowers, you'll see a variety of colors.<br><br>
		If you want to only ever pick up certain colors, you'd use this to do that<br><br>
		</p>
		
		<h3 style="font-size:26px">
		What actually is this?</h3>
		<p style="background-color:powderblue;font-size:19px;width:500px"class="tutTextBorder">
		The most complex form of branching, technically going as high as you care to set up.<br><br>
		It combines all three possible options. "If", "Else-If", and "Else".<br><br>
		This means you can check the first equation, then the second one, and if neither are true, do something else.<br><br>
		It's the natural combination of everything up to this point.<br><br>
		Obviously, if you don't want to have the "Else" statement, it's not a requirement.<br><br>
		Just run all "If" and "Else-If" statements.
		</p>
		
		<h3 style="font-size:26px">
		How are you supposed to set this up and use it?</h3>
		<p style="background-color:powderblue;font-size:19px;width:500px"class="tutTextBorder">
		Once again, we go to our trusty little corner cog.<br><br>
		Add as many "else-if" blocks as you like, and add the "else" block if you want to.<br><br>
		</p>
		<button class="tabnextLink"onclick="openTab(event, 'MultAct')">Next Section</button>
	</div>
		
	<!--Multiple Actions per Branch-->
	<div id="MultAct" class="tabcontent">
		<h2 style="font-size:35px">
		Multiple Actions in each branch?</h2>
		<img src="/images/tutorials/IMG_MultActEx.png" alt="Multiple Actions Example" class="tutTextBorder">
		
		<h3 style="font-size:26px">
		Why should you need to know this?</h3>
		<p style="background-color:powderblue;font-size:19px;width:500px"class="tutTextBorder">
		Well, in case you want to do multiple things in any branch of course!<br><br>
		Your program won't actually know what kind of flower you're trying to pick up, until you tell it to check.<br><br>
		So when you're walking around and find a flower, you want to have a block to check what color it is before picking it up.<br><br>
		</p>
		
		<h3 style="font-size:26px">
		What actually is this?</h3>
		<p style="background-color:powderblue;font-size:19px;width:500px"class="tutTextBorder">
		Instead of having a single instruction for each branch, try fitting in more than one.<br><br>
		This is how you get the most out of each branch.<br><br>
		Doing multiple things might mean some branches get larger than others, but that just means they can hold heavier fruit!<br><br>
		</p>
		
		<h3 style="font-size:26px">
		How are you supposed to set this up and use it?</h3>
		<p style="background-color:powderblue;font-size:19px;width:500px"class="tutTextBorder">
		Luckily for you, the blocks handle this perfectly!<br><br>
		If you just drag multiple blocks into the right area, they should all slot right in!<br><br>
		</p>
		<div class="botright" >
			<button type="button" id="back_home_button" onclick="document.location='/'">
			End Tutorial</button>
		</div>
	</div>

    <!-- Blockly Include -->
    <!-- reroute the python_compressed into the node_modules folder? -->
    <script src="https://unpkg.com/blockly/blockly.min.js"></script>
    <!--<script src="/scripts/blockly_compressed.js"></script>-->
    <script src="/scripts/python_compressed.js"></script>

    <!-- PyBlock Scripts -->
    <script src="/scripts/tutorials.js"></script>
	
	<!-- Script for Default Tab Open-->
	<script>
		document.getElementById("defaultOpen").click();
	</script>
</body>
</html>