<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link href="css/looping_tutorial.css" type="text/css" rel="stylesheet">

	<!-- include for socket.io -->
	<script src="/socket.io/socket.io.js" type="text/javascript"></script>
	<!-- jquery & jquey.ui includes -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

	<!-- Favicon Icon -->
	<link rel="icon" href="images/PyBlocks Logo.png">

</head>

<body>
	<header>
		<nav>
			<a href="/">PyBlocks</a> |
			<a href="/">Login</a>
		</nav>
	</header>

	<div class="wrapper">
		<aside class="aside_left"></aside>

		<article class="main">
			<nav>
				<ul>
					<li><a href="looping_tutorial_page_1">General Knowledge</a></li>
					<li><a href="looping_tutorial_page_2">For Loops</a></li>
					<li><a class="active" href="looping_tutorial_page_3">While Loops</a></li>
					<li><a href="looping_tutorial_page_4">Looping Through Lists</a></li>
					<li><a href="looping_tutorial_page_5">Nested Lists</a></li>
					<li><a href="/">Back Home</a></li>
				</ul>
			</nav>

			<h2>Why</h2>

			<article class="textInfo">
				<p>
					Sometimes, you will want to repeat a loop based on something other than just counting.<br>
					A "while" loop handles these sorts of things.
				</p>
			</article>

			<aside class="helpfulPicture">
				<img src="https://dummyimage.com/600x400/e6e3e6/000000.png&text=PlaceHolder" />
			</aside>

			<h2>What</h2>
			<article class="textInfo">
				Again, two different types of while loops, though they can be used the same ways.<br>				
				<ul>
					<li>
						The first is the standard 'while' loop.<br>
						It needs a comparison, but will run the loop over and over until the comparison is 'false'.<br>
						Make sure you put a way for it to be false, or you'll run into an infinite loop quite easily!<br>
					</li>
					<br>
					<li>
						The second is a bit weird. It's an 'until' loop.<br>
						It's kind of an inverse of the 'while' loop.<br>
						It works the same way though, repeating a loop based on a comparison it checks.<br>
						The difference being that it goes until the comparison is true!<br>
						The keen-eyed among you may realize that you could set up a while loop to do the same thing.<br>
						That is very true, but using the 'until' loop makes things a bit easier by seperating it.
					</li>
				</ul>
				
			</article>

			
			<aside class="helpfulPicture">
				<img src="/images/tutorials/looping/WhileLoopKinds.png">
			</aside>

			<h2>How</h2>
			<article class="textInfo">
				Drag out the block to the workspace.<br>
				Decide and pick which kind of loop you want, 'while' or 'until'.<br>
				Drag on and slot in the comparison you want, and put in the variables you want to compare.<br>
				Finally, just fill in the body of the loop and you are good to go!
			</article>

			<!-- Try It Question. -->
			<article class="tryIt">
				<h3 class="tryItInstructions">Try It Section</h3>
				<p class="tryItInstructions">
					Set up a while loop to set the variable to 6.<br>
					Make sure you avoid an infinite loop!<br>
				</p><div class="appContainer">
					<div class="inline-block-child" style="width: 600px; height: 300px;">
						<div class="blockly-editor">
							<div id="blocklyDiv" style="height: 100%; width: 100%;"></div>
							<xml xmlns="https://developers.google.com/blockly/xml" id="toolbox" style="display: none">
								<category name="Text" colour="120">
									<block type="text"></block>
									<block type="text_print">
										<value name="TEXT">
											<shadow type="text">
												<field name="TEXT">print what goes here...</field>
											</shadow>
										</value>
									</block>
								</category>
								<category name="Misc" colour="240">
									<block type="controls_if"></block>

									<block type="logic_compare"></block>
									<block type="logic_operation"></block>
									<block type="logic_negate"></block>
									<block type="logic_boolean"></block>

									<block type="math_number"></block>
									<block type="math_arithmetic"></block>

									<block type="text"></block>
									<block type="text_print"></block>

									<block type="variables_get"></block>
									<block type="variables_set"></block>
								</category>
								<category name="Looping" colour="180">
									<block type="controls_whileUntil"></block>
									<block type="controls_flow_statements"></block>
								</category>
								<category name="Movement" colour="260">
									<block type="move_up"></block>
									<block type="move_down"></block>
									<block type="move_left"></block>
									<block type="move_right"></block>
									<block type="rotate_right"></block>
									<block type="rotate_left"></block>
								</category>
								<category name="Flower Blocks" colour="230">
									<block type="pick_one_flower"></block>
									<block type="check_flower_color"></block>
									<block type="check_facing_flower"></block>
								</category>
								<category name="Code in Text Blocks" colour="245">
									<block type="python_text_block"></block>
								</category>
							</xml>
						</div>
					</div>
					<br />
				</div>
				<br />
				<button id="submitButtonOne" class="tryItSubmitButton"> Submit Answer</button>
				<br />
			</article>
			<br />
			<p id="userOut" class="tryItResults"></p>
			<p id="resultOne" class="tryItResults"></p>

			<!-- Spacer for the bottom buttons -->
			<br />
		</article>

		<aside class="aside_right"></aside>
	</div>

	<div id="buttonContainer">
		<a href="looping_tutorial_page_2" id="previousSection">Previous Section</a>
		<a href="looping_tutorial_page_4" id="nextSection">Next Section</a>
	</div>
	
	<footer>
		<p>Footer Information will be added here</p>
		<p>Line 2</p>
		<p>Line 3</p>
	</footer>

	<!-- Blockly Include -->
	<script src="https://unpkg.com/blockly/blockly.min.js"></script>
	<script src="/scripts/python_compressed.js"></script>
	<!-- PyBlock Scripts -->
	<!--<script src="/scripts/tutorials.js"></script>-->
	<script src="/scripts/custom_blocks.js"></script>
	<script type="text/javascript" src="scripts/tutorials/looping/looping_tutorial_page_3_scripts.js"></script>
</body>
</html>